
/**
 * 三个响应式简写函数
 * 在同时指定多个时请按照响应式尺寸升序填写（先写 small() 再写 large()）
 */

// 手机屏幕
small()
    @media screen and (max-width 992px)
        {block}

// 平板屏幕
medium()
    @media screen and (min-width: 992px)
        {block}

// 电脑屏幕
large()
    @media screen and (min-width: 1200px)
        {block}